

body{
    background-color: white;
}
/*h1 {*/
/*    text-align: left;*/
/*    !*border-style: outset;*!*/

/*}*/
div {

    text-indent: 50px;
    font-size: 20px;
}

span {
    color: blue ;
}

.special1 {
    font-weight: bold;
    color: black;
}
